---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Bienvenido a nuestra cafetería</h1>
  <p>Disfruta de los mejores cafés y pasteles en un ambiente acogedor.</p>
  <img src="/bg.jpg" alt="">
</Layout>