---
import Tarjetadeproducto from "../componentes/tarjetadeproducto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Bienvenido a nuestra cafetería</h1>
  <p>Disfruta de los mejores cafés y pasteles en un ambiente acogedor.</p>
  <img src="menu-3.jpg" alt="" />

  <div class="tarjetas">
    <Tarjetadeproducto
      nombre="pan de jamon"
      precio="3$"
      descripcion=""
      imagen="pan.webp"
    />
    <Tarjetadeproducto
      nombre="hamburguesa"
      precio="2$"
      descripcion=""
      imagen="hamburgues.jpg"
    />
    <Tarjetadeproducto
      nombre="cafe capuhino"
      precio="1$"
      descripcion=""
      imagen="pl.webp"
      />
    <Tarjetadeproducto
      nombre="torta marquesa"
      precio="2$"
      descripcion=""
      imagen="marquesa.webp"
           />
    <Tarjetadeproducto
      nombre="arepas"
      precio="2$"
      descripcion=""
      imagen="th.jpg"
           />
    <Tarjetadeproducto
      nombre="empanadas"
      precio="2$"
      descripcion=""
      imagen="l.jpg"
           />
    <Tarjetadeproducto
      nombre="cafe americano"
      precio="1$"
      descripcion=""
      imagen="ame.webp"
      />
      <Tarjetadeproducto
      nombre="cafe macchiato"
      precio="1.5$"
      descripcion=""
      imagen="m.webp"
      
    />
  </div>
</Layout>
<style>
  img {
    width: 100%;
  }
  .tarjetas {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
  }
</style>
