 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffe</title>
</head>
<body> 
  <header>
<nav>
 <a href="">inicio</a>
 <a href="about">sobre nosotros</a>
 <a href="service">servicio</a>
 <a href="home">hogar</a>
<a href="menu">menu</a>
<a href="contact">contactanos</a>
</nav>
  </header>
    <slot />  
    
    aqui va el footer
</body>
</html>